body {
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 20px;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
  box-sizing: border-box;
}

.scroll-content {
  height: 1000px;
}

.my-button {
  padding: 10px 20px;
  background: #409eff;
  border: 0 none;
  border-radius: 5px;
  color: #ffffff;
  outline: none;
}

.my-button ~ .my-button {
  margin-left: 10px;
}

.my-button:focus,
.my-button:hover {
  background: #66b1ff;
  border-color: #beddfd;
  color: #fff;
}

.my-button:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
  color: #fff;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.text-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 64px;
  font-weight: bold;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: 0;
  z-index: 1000;
}

.modal {
  position: relative;
  width: calc(100% - 100px);
  margin: 200px auto 50px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  border-radius: 5px;
}

.text-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 48px;
}

.ovh {
  overflow: hidden;
}
